html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.container-main {
    margin-top: 4.33rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link:focus, .nav-link:hover,
.navbar-brand:focus, .navbar-brand:hover {
    color: #e1e1e1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text-align-right {
    margin-left: auto;
}

.text-align-center {
    text-align: center;
}

.font-size-bigger {
    font-size: x-large;
}

.margin-y {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-bar-item-profile-image {
    margin: auto 0;
    width: 50%;
}

/* OFFERS */

ul.offers > li:first-of-type {
    margin-top: 10px;
}

ul.offers > li {
    display: grid;
    background-color: #1e1e1e;
    grid-template-columns: 3rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 25px;
}

ul.offers {
    padding: 0;
}

.offers-li-profile-image {
    width: 50px;
    height: 50px;
    grid-area: 1 / 1 / 2 / 2;
}

.offers-li-items {
    color: #e1e1e1;
    margin: auto 0;
    width: 50%;
    grid-area: 1 / 2 / 2 / 3;
}

.offers-li-description {
    color: #999999;
    margin-left: 10px;
    grid-area: 2 / 1 / 3 / 3;
}

.offers-li-images {
    justify-self: center;
    grid-area: 3 / 1 / 4 / 3;
}

/* OFFERS */

/* THEME */

.theme-color-back-bg {
    background-color: #121212;
}

.theme-color-front-bg {
    background-color: #1e1e1e;
}

.theme-color-front-text {
    color: #e1e1e1;
}

.theme-color-back-text {
    color: #999999;
}

/* THEME */

.twitter-verified-icon {
    background-image: url('../image/twitter-verified-icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: right;
}