@model Exchanger.Models.View.Account

@{
  ViewData["Title"] = "Log In";
}

<form asp-action="Login" class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body theme-color-front-bg p-5 text-center" style="border-radius: 14px">

            <h3 class="mb-5 theme-color-back-text">Log In</h3>

            <div class="form-outline mb-4">
              <input asp-for="Email" type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label asp-for="Email" class="form-label" style="color: #999999;">Email</label>
              <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
              <input asp-for="Password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label asp-for="Password" class="form-label" style="color: #999999;">Password</label>
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" style="background-color: #1e1e1e; border-color: #999999" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" style="color: #999999;" for="form1Example3"> Remember password </label>
            </div>

            <button class="btn btn-primary btn-lg btn-block theme-color-front-text" type="submit">Login</button>

            <div class="text-center" style="margin-top:25px;">
                <p style="color: #999999;">Not a member? <a href="~/Account/SignUp">Sign Up</a></p>
            </div>

            <hr class="my-4">

            <button class="btn btn-lg btn-block btn-primary theme-color-front-text" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
            <button class="btn btn-lg btn-block btn-primary mb-2 theme-color-front-text" style="background-color: #3b5998;"
              type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>