@{
  ViewData["Title"] = "Sign Up";
}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body theme-color-front-bg p-5 text-center" style="border-radius: 14px">

            <h3 class="mb-5 theme-color-back-text">Sign Up</h3>

            <div class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" style="color: #999999;" for="typeEmailX-2">Email</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label" style="color: #999999;" for="typePasswordX-2">Password</label>
            </div>

            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" style="background-color: #1e1e1e; border-color: #999999" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" style="color: #999999;" for="form1Example3"> Remember password </label>
            </div>

            <button class="btn btn-primary btn-lg btn-block theme-color-front-text" type="submit">Sign Up</button>

            <div class="text-center" style="margin-top:25px;">
                <p style="color: #999999;">Have already an account? <a href="~/Account/SignUp">Log In</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>