@{
  ViewData["Title"] = "Global";
}

<h2 class="text-center">Global Offers</h2>

<ul class="offers">
  @{
    var offers = (List<Exchanger.Models.Offer.OfferViewModel>?)ViewData["Offers"];
    for (int i = 0; i < offers?.Count; i++)
    {
        <li>
            <img class="offers-li-profile-image" src="image/userUnknown.png"/>
            <div class="offers-li-items">@offers[i].ItemsToGive.Count items to offer</div>
            <div class="offers-li-description">Anonymous wants to exchange @offers[i].ItemsToGive.Count items for @offers[i].ItemsToReceive?.Count items.</div>
            <img class="offers-li-images" src="image/itemUnknown.png" />
        </li>
    }
  }
</ul>